section.realisations {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    @media screen and (max-width: 720px) {
        margin-top: 30px;
    }
    @media screen and (max-width: 650px) {
        margin-top: 20px;
    }

    & div.realisationsListe {
        display: flex;
        flex-wrap: wrap;
        width: 1000px;
        max-width: 97%;
        @media screen and (max-width: 1000px) {
            width: 95%;
        }
        @media screen and (max-width: 700px) {
            flex-direction: column;
            align-items: center;
        }
        
        & figure {
            width: 48%;
            border-radius: 35px;
            max-width: 450px;
            margin: 0px 15px 25px 15px ;
            height: 300px;
            position: relative;


            &:hover {
                cursor: pointer;
                &::after {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    border-radius: 35px;
                    background-color: rgba(243, 186, 0, 0.836);
                    animation: apparition 0.15s ease;
                }

                &::after {
                    content: "En savoir plus ->";
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    bottom: 10px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 20px;
                    font-weight: bold;
                    color: white;
                }
            }

            @media screen and (max-width: 1000px) {
                width: 45%;
                height: 200px;
            }
            @media screen and (max-width: 700px) {
                width: 90%;
                height: 300px;
            }
            @media screen and (max-width: 550px) {
                height: 250px;
            }
            @media screen and (max-width: 430px) {
                height: 200px;
            }
            & img {
                object-fit: cover;
                box-sizing: border-box;
                width: 100%;
                height: 100%;
                border-radius: 35px;
                border: dotted 2px black;
            }
        }
    }
}

@keyframes apparition {
    0% { opacity: 0;}
    100% { opacity: 1;}
}

div.modaleRea {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    & div.content {
        z-index: 10;
        width: 75vw;
        background-color: white;
        border-radius: 20px;
        height: 80vh;
        position: relative;
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        & h3 {
            color: #BD3100;
            text-align: center;
            font-family: Karantina;
            font-size: 45px;
            font-weight: 700;
            margin: 10px auto;
        }

        & p {
            width: 70%;
            text-align: center;
            @media screen and (max-width: 568px) {
                width: 80%;
            }
        }
        
        & a {
            text-decoration: none;
            color: #F3BB00;
            &:hover {
                color: #BD3100;
            }
        }

        & div.imageList {
            display: flex;
            flex-wrap: wrap;
            overflow: scroll;
            align-items: flex-start;
            justify-content: center;
            margin: 15px auto;
            & img {
                width: min-content;
                border: solid 2px #000;
                margin: 5px;
                max-width: 95%;
            }
        }

        & i {
            font-size: 45px;
            position: absolute;
            border-radius: 50px;
            padding: 5px 15px;
            background-color: #ffffff7c;
            z-index: 25;
            &:hover{
                cursor: pointer;
            }
        }
        & i.fa-chevron-left {
            top: 48%;
            left: -2%;
        }
        & i.fa-chevron-right {
            top: 48%;
            right: -2%;
        }
        & i.fa-x {
            font-size: 35px;
            top: -2%;
            right: -2%;
            padding: 10px 15px;
        }
    }
    & div.overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.61);
        z-index: 2;
        &:hover {
            cursor: pointer;
        }
    }
}